body {
    background: url(../imgs/bg_blur.jpg) no-repeat center;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-left: 15%;
    padding-right: 15%;
}
.list {
    margin: 0 auto;
    margin-top: 15%;
    width: 500px;
    height: 500px;
    box-shadow: gray 1px 1px 10px;
    border-radius: 5%;
    text-align: center;
    padding-top: 40px;
    background-color: whitesmoke;
}